.member-box  {
	border: 1px solid gray; /* A thing gray line around each box */
	margin-bottom: 15px; /* Space below each box */
	padding: 10px; /* Space inside each box */
}


body {
	background: #000; /*Black background */
	color: #FCF55F; /*Yellow text */
]

